<section class="tab journal-tab" data-tab="journal-tab" data-group="primary">
    <div class="textbox textbox-half sheet-tweaks-journal">
        <header class="journal-header">
            <div class="header-left">
                <dnd5e-icon src="systems/dnd5e/icons/svg/ink-pot.svg"></dnd5e-icon>
                <h3 class="roboto-upper">Personal Notes</h3>
            </div>
            <i class="fas fa-feather header-right"></i>
        </header>

        <div class="editor-container">
        </div>
    </div>
</section>